name: 部署到阿里云

on:
  push:
    branches:
      - master  # 当推送到 master 分支时触发

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 检出代码
        uses: actions/checkout@v3

      - name: 部署到阿里云服务器
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /home/admin/kaoshanmeng
            git pull origin master
            docker compose build
            docker compose up -d
            docker compose ps
